.cartao-poke {
    display: none; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(244, 244, 245);
    border-radius: 10px;
    max-height: 100%;
}

.cartao-topo {
    border-radius: 10px;
    padding: 30px 40px 10px;
}

.cartao-info {
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding: 30px 40px 10px;
}

.cartao-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nome {
    margin-bottom: 5px;
}

.tipo {
    background-color: rgb(107, 205, 235);
    border-radius: 15px;
    padding: 2px 6px;
}

.detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cartao-img {
    width: 380px;
    height: 350px;
    
}

.cartao-info {
    display: flex;
    justify-content: space-between;
    padding: 70px 80px 50px;
    margin-top: -70px;
    
}

.cartao-img img {
    width: 350px;
    height: 350px;
    
}

.cartao-info h3 {
    font-size: 20px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.cartao-poke.aberto {
    display: block;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.infos {
    padding: 5px 0 0 0;
}

.cartao-poke.eletrico {
    background: rgb(255,218,0);
background: radial-gradient(circle, rgba(255,218,0,1) 0%, rgba(241,187,19,1) 18%, rgba(246,236,20,1) 36%, rgba(233,224,22,1) 69%, rgba(241,255,100,1) 100%);
}

.cartao-poke.grama {
    background: rgb(19,187,0);
background: radial-gradient(circle, rgba(19,187,0,1) 0%, rgba(148,237,10,1) 30%, rgba(26,250,5,1) 69%, rgba(22,233,135,1) 100%);
}

.cartao-poke.fogo {
    background: rgb(253,29,29);
background: radial-gradient(circle, rgba(253,29,29,1) 0%, rgba(250,51,31,1) 21%, rgba(244,100,36,1) 46%, rgba(237,153,41,1) 74%, rgba(244,145,11,1) 94%, rgba(252,176,69,1) 100%);
}

.cartao-poke.agua {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(37,36,174,1) 19%, rgba(38,38,180,1) 39%, rgba(53,53,237,1) 56%, rgba(39,95,242,1) 79%, rgba(0,212,255,1) 100%);
}

.cartao-poke.fantasma {
    background: rgb(172,44,222);
background: radial-gradient(circle, rgba(172,44,222,1) 0%, rgba(186,41,217,1) 18%, rgba(220,31,222,1) 36%, rgba(212,32,227,1) 69%, rgba(167,0,255,1) 100%);
}

.cartao-poke.dragao {
    background: rgb(37,51,171);
background: radial-gradient(circle, rgba(37,51,171,1) 0%, rgba(118,41,217,1) 18%, rgba(77,25,208,1) 36%, rgba(122,24,240,1) 69%, rgba(247,4,241,1) 100%);
}