@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    
    .pokedex {
        flex-direction: column;
        padding: 30px;
        width: 400px;
    }

    .cartao-poke {
        max-width: 300px;
        margin-left: 18px;
    }

    .cartao-img {
        width: 200px;
        height: 200px;
    }
    .cartao-poke img {
        width: 200px;
        height: 200px;
        
    }

    .cartao-info {
        text-align: center;
        font-size: 12px;
        padding: 60px 30px 30px;
    }

    .listagem {
        max-width: 300px;
        margin-left: 20px;
    }
    
}